.top-info
{
    background:#BE3F47;
}

.list_style.circle li a i, 
.flickr-feed li .hover,
.progress_skill .bar,
.swipe-navi .swipe-left,
.swipe-navi .swipe-right,
.blogPic .blog-hover .icon,
.list_style.square li a i,
.highlight.default,
.pricingTable.business .heading,
.blog_large .day, .blog_single .day,
#filter li.selected a:before,
.carousel-pagination li.active,
.mean-container .mean-nav ul li a:hover,
.hover-icon i:after,
#theme-colored-table,
.author_desc,
.slider .s1a
{
	background: #BE3F47 !important;
}
a.read:hover,
.recent_posts_list li a:hover,
.testimonial-review small,
.active .acc_head, .active .page_toggle_head,
.list_style li a:hover,
#breadcrumbs ul li:last-child a, #breadcrumbs ul li a,.tp-caption.large_bold_red,
.blogMeta a:hover, .blogTitle span:hover,
.dropcap.default,
.blogTitle > a:hover h2,
.sidebar_widget ul.archives_list li a:hover, .sidebar_widget ul.arrows_list1 li a:hover i,
.blog_large .post_meta .metaInfo > span > a:hover, .blog_single .post_meta .metaInfo > span > a:hover,
#comment-list li .comment-container:hover a,
#comment-list li .comment-container:hover .comment-date,.comment-container:hover a.link-style3,
.table-categories span.price-duration,
.table-categories strong,
.table-categories h2,.sidebar ul.arrows_list li a:hover, .sidebar ul.arrows_list1 li a:hover i,
.author_bio h5 a,.blog_large .post_meta h2:hover a, .blog_single .post_meta h2:hover a,
.sidebar ul.archives_list li a:hover, .sidebar ul.arrows_list1 li a:hover i,.slider .s1b,
.blog_medium .post_meta .metaInfo > span > a:hover,.project_details .details li a:hover,.footer a:hover
{
  color: #BE3F47 !important;
}

.btn.btn-default,
.tp-caption.modern_big_redbg,
.tp-caption.medium_bg_red,
.dropcap_block.default,
.btn.btn-default.dark:hover,
.btn.btn-default.dark:focus,
.btn-group:focus .btn.btn-default.dark.dropdown-toggle,
.icon_lists .fa-hover a:hover,
#site-searchform #searchsubmit,
.tags li a:hover,
.shares li a:hover,
.promo_content  .btn
{
	background-color:#BE3F47;
}

.navbar-nav > li > a:hover,.navbar-nav > li > a:focus,.navbar-nav > li.active > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus
{
    background:#BE3F47 !important;
}
@media only screen and (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus
    {
        background:#BE3F47;
    }
}
.navbar-nav .dropdown-menu > li > a:hover{ color:#BE3F47; }

.dividerHeading h4,.widget_title h4,.sidebar .widget_title h4 span{border-bottom-color:#BE3F47; color:#BE3F47; }

#current,.menu ul li a:hover,.menu ul > li:hover > a { background-color:#BE3F47; color:#fff; }

.menu ul ul li a:hover{background-color:#BE3F47; color:#fff; }

.testimonial-item blockquote { border-top:3px solid #BE3F47; }

.testimonial-review > img {	border:2px solid #BE3F47; }

.fraction-slider .prev:hover, .fraction-slider .next:hover, .fraction-slider .next:hover:before, .fraction-slider .prev:hover:before {border-color:#BE3F47!important;color:#BE3F47!important;}

.slider-read{background:#BE3F47!important;}

.nav-tabs li.active, .nav-tabs li.active a, .nav-tabs li.active a:hover,.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
.comments_list a,.recent_tab_list li a:hover{border-top-color:#BE3F47; color:#BE3F47!important;}

.panel.active_acc, .panel:hover,.panel.active_acc, .panel:hover{border-top-color:#BE3F47!important; }

.panel-heading:hover a, .panel-heading:hover .accordian-icon,.active_acc .panel-title a, .active_acc .accordian-icon{color:#BE3F47;}

.progress_skill:hover{ border-color:#BE3F47; }

.progress_skill:hover .bar,.pricingTable.business .pricingTable-header .price-value {background:#A62B33!important; }

.form-control:focus,#site-searchform #s:focus {	border-color:#BE3F47; box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(190, 63, 71, 0.6);}

.serviceBox_1:hover .hover-icon i, .serviceBox_2:hover .hover-icon i
{ box-shadow:0 0 0 4px #BE3F47; color:#BE3F47;}

blockquote.default{	border-color:#BE3F47; }

#filter li.selected a, #filter li a:hover,#filter li.selected a, #filter li a:hover { border-bottom:2px solid #BE3F47; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background:#BE3F47;border-color: #BE3F47; }

.comment-container:hover { border-color:#BE3F47; }

.team-members:hover .pic > img { cursor:pointer; background-color:#BE3F47;}

.promo_content{border-color:#BE3F47;}

.promo_box .btn-default{ color:#fff; border:none; border-bottom:3px solid #BA303A; background:#BE3F47;}

.promo_box .btn-default:hover,.btn-default:hover,.promo_content a.btn:hover { background:#AD333B; border-bottom-color:#7E242A;}

.social-icons li a{ color:#BE3F47; }

.skin-overlay{ background-color:rgba(190, 63, 71, 0.6); }

.touching.medium a.hover-zoom, .touching.medium a.hover-link { color:#BE3F47; }

.touching.medium a.hover-zoom:hover,.touching.medium a.hover-link:hover{ background:#333; color:#fff; }

.serviceBox_4:hover i,.serviceBox_1:hover .new-effect .service-1-icon{ color:#BE3F47;}

.sidebar_widget ul.arrows_list li a:hover, .sidebar_widget ul.arrows_list1 li a:hover i,.blog_medium .post_meta h2 a:hover{ color:#BE3F47; }

.blog_medium .day{ background:#BE3F47; }

#theme-colored-table ul li,#theme-colored-table ul li:last-child { border-color:#CD434C; }

#theme-colored-table ul li:nth-child(odd){ background:#BA303A; }

.table-fix{ background:#F8F8F8; border-top-color:#BE3F47; }

.table-buy-button{ background:#DC4751 !important; }

#theme-colored-table span.price-duration,#theme-colored-table strong,#theme-colored-table h2,#theme-colored-table a{ color:#fff!important; }

.table-buy-button:hover{ color:#fff!important; background:#B12A33 !important; }
